name: Android CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    # --- 新增步骤：安装 Python 3.10 ---
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    # -------------------------------

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build Leanback Release APK
      run: ./gradlew assembleLeanbackRelease

    - name: Build Mobile Release APK
      run: ./gradlew assembleMobileRelease

    - name: Upload Leanback APK
      uses: actions/upload-artifact@v4
      with:
        name: TVBox-Leanback-Release
        path: app/build/outputs/apk/leanback/release/*.apk

    - name: Upload Mobile APK
      uses: actions/upload-artifact@v4
      with:
        name: TVBox-Mobile-Release
        path: app/build/outputs/apk/mobile/release/*.apk
